{% extends "layout.html" %}

{% block title %}
    Bookmovie
{% endblock %}

{% block main %}
<br>
<h5><a href="/">&lt;&lt; back</a></h5>
<div class="row">
    <div class="twelve columns">
        <span style="text-align: center;"><h3><a href="https://bookmovie.glitch.me" target="_blank">Bookmovie </a></h3></span>
    </div>

    <br>
</div>

<!-- video -->
<div class="row">
    <div class="twelve columns">
        <video style="width: 100%; display: block;" height="" autoplay="" playsinline="" muted="" loop=""  src="../static/images/bookmovie/bookmovie.mp4" poster="../static/images/bookmovie/screen.png"></video>
    </div>
</div><hr>

<!-- description -->
<div class="row">
    <div class="twelve columns">
        <h5>Description</h5>
        <h6>Bookmovie is a lightweight and intuitive Flask/Python webapp to act as a movie bookmarker, aimed to be used whenever need.<br>
            <strong>Year: </strong>2023<br>
            <strong>Try it: </strong><a href="https://bookmovie.glitch.me" target="_blank">click</a> to access and use it the way you like it.<br>
            <strong>Github: </strong><a href="https://www.github.com/rafaelvcordeiro/bookmovie" target="_blank">project repository</a>
        </h6>
    </div>
</div><hr>

<!-- technologies/tools -->
<div class="row">
    <div class="twelve columns">
        <h5>Technologies and tools</h5>
        <h6>
        <strong>Flask: </strong><a href="https://flask.palletsprojects.com/en/2.2.x/" target=_blank">Flask</a> is simple to implement, reliable and light.<br>
        <strong>SQLite3: </strong>This webapp uses a <a href="https://flask.palletsprojects.com/en/2.2.x/patterns/sqlite3/" target=_blank">SQLite</a> database with
        two tables: USERS, that holds users data and RECORDS, that stores data from each user.<br>
        <strong>Cinemagoer API: </strong>to make it fast and easy to add new entries, the <a href="https://cinemagoer.github.io/" target="_blank">Cinemagoer</a> IMDB API was used<br>
        <strong>Memegen: </strong>used the <a href="https://memegen.link/" target="_blank">Memegen</a> meme generator for writing automatic error messages and information.<br>
        <strong>Skeleton: </strong>used <a href="http://getskeleton.com" target="_blank">Skeleton</a> CSS framework to increase frontend development speed. 
                
        </h6>
    </div>      
</div>


{% endblock %}