{% extends "layout.html" %}

{% block title %}
    Bookmovie
{% endblock %}

{% block main %}
<br>
<h5><a href="/">&lt;&lt; back</a></h5>
<div class="row">
    <div class="twelve columns">
        <span style="text-align: center;"><h3>CNC Machines</h3></span>
    </div>

    <br>
</div>


<!-- video -->

<div class="row">
    <div class="twelve columns" style="text-align: center;">
        <video style="text-align: center; max-width:300px;" autoplay="" playsinline="" muted="" loop=""  src="../static/images/cnc-af/cnc-af.mp4" poster="../static/images/cnc-af/icon.jpg"></video>
</div></div><br>

<div class="row">
    <div class="twelve columns">
        <h6>Throughout the years I have been building several CNC machines. I dit it mostly because I really enjoy making automated machines and robots,
            and also because I wanted to be able to produce high quality parts in a fast and cost-effective way.<br>
            CNC stands for Computer Numerical Control, and it is basically an automated machine controlled by a dedicated computer to perform manufacturing operations.
        </h6>
    </div>
</div>
<hr>


<!-- CNC AF -->
<div class="row">
    <div class="six columns">
        <h5>CNC Atelier André Ferri</h5>
        <h6>Developed a special CNC machine suited for 3D sculpting of big wooden blocks for the factory of brazilian designer André Ferri, in 2021.
            One of the biggest challenges of this project was to make this machine able to carve hardwood at a 450mm depth travel.
            That was hard to accomplish, but it performed better than expected.<br>
            <strong>Website: </strong><a href="https://www.andreferri.com/" target="_blank">André Ferri Atelier</a><br>
            <strong>Year: </strong>2021<br>
            <strong>Working volume: </strong>1500 x 1000 x 450 mm<br>
            <strong>Tools: </strong>Rhinoceros 3D, SimScale, Solidworks, LinuxCNC<br>
        </h6>
    </div>

    <div class=" six columns">
        <section id="main-slider1" class="splide" aria-label="Gallery1">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-af00.jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-af02.jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-af03.jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-af04.jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-af08.jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-af07.jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-af09.jpg" alt=""/> </li>

              </ul>
            </div>
          </section>

          <!-- <ul id="thumbnails1" class="thumbnails">
            <li class="thumbnail t1"> <img src="../static/images/cnc-af/cnc-af00.jpg" alt=""/> </li>
            <li class="thumbnail t1"> <img src="../static/images/cnc-af/cnc-af02.jpg" alt=""/> </li>
            <li class="thumbnail t1"> <img src="../static/images/cnc-af/cnc-af03.jpg" alt=""/> </li>
            <li class="thumbnail t1"> <img src="../static/images/cnc-af/cnc-af04.jpg" alt=""/> </li>
            <li class="thumbnail t1"> <img src="../static/images/cnc-af/cnc-af08.jpg" alt=""/> </li>
            <li class="thumbnail t1"> <img src="../static/images/cnc-af/cnc-af07.jpg" alt=""/> </li>
            <li class="thumbnail t1"> <img src="../static/images/cnc-af/cnc-af09.jpg" alt=""/> </li>
          </ul> -->


    </div>
</div>
<hr>



<!-- CNC jangada -->
<div class="row">
    <div class="six columns">
        <h5>Plywood CNC</h5>
        <h6>Developed a CNC machine suited for cutting an entire plywood sheet (2200x 1600 mm).
            This machine was developed with the intention of providing precision manufacturing services.<br>
            <strong>Year: </strong>2015<br>
            <strong>Working volume: </strong>2200 x 1600 x 140 mm<br>
            <strong>Tools: </strong>Rhinoceros 3D, Solidworks, LinuxCNC<br>
        </h6>
    </div>

    <div class=" six columns">
        <section id="main-slider2" class="splide" aria-label="Gallery2">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-j01.jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-j02.jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-j03.jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-j04.jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/cnc-af/cnc-j05.jpg" alt=""/> </li>

              </ul>
            </div>
          </section>

          <!-- <ul id="thumbnails2" class="thumbnails">
            <li class="thumbnail t2"> <img src="../static/images/cnc-af/cnc-j01.jpg" alt=""/> </li>
            <li class="thumbnail t2"> <img src="../static/images/cnc-af/cnc-j02.jpg" alt=""/> </li>
            <li class="thumbnail t2"> <img src="../static/images/cnc-af/cnc-j03.jpg" alt=""/> </li>
            <li class="thumbnail t2"> <img src="../static/images/cnc-af/cnc-j04.jpg" alt=""/> </li>
            <li class="thumbnail t2"> <img src="../static/images/cnc-af/cnc-j05.jpg" alt=""/> </li>
          </ul> -->


    </div>
</div>
<hr><br>

{% endblock %}