{% extends "layout.html" %}
{% block title %}
Portfolio
{% endblock %}

{% block main %}


<!-- Page Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="row" style="margin-top: 80px;" >
  <div class="twelve columns" style="text-align: left;">
    <h6>Hi, my name is</h6>
    <h1>Rafael Cordeiro.</h1>
    
  </div>
</div>
<div class="row" style="margin-top: 40px; height: auto;">
  <div class="three columns" style="vertical-align: middle; text-align: center;"><br>
    <img style="text-align: center; vertical-align: middle; max-width: 240px;" src="../static/images/foto-RVC2_pb.png"><br>
  </div>
  
  <div class="nine columns" style="text-align: left; vertical-align: middle;">
    
    <h5>I build things. Hardware and software.</h5>
    <p>I am a product engineer, passionate about machines and technology development. Currently shifting career towards software engineering.</p>
    <p>I live in Belo Horizonte, Brazil, but we can also get in touch at:</p>
    <p>
      • <a href="https://www.linkedin.com/in/rafaelvc" target="_blank">Linkedin</a><br>
      • <a href="https://www.instagram.com/rafaelvcordeiro" target="_blank">Instagram</a><br>
      • <a href="https://www.github.com/rafaelvcordeiro" target="_blank">Github</a><br>
      • <a href="mailto:rafaelvc@gmail.com">Email</a>
    </p>   
  </div>
</div>

<!-- Filters for skill
<div class="row" style="margin-top: 10px; margin-top:40px">

  <div class="twelve columns" style="text-align: center;">
    
      <h6>
        {% for field in fieldsList %}
        <span style="display:inline-block;">
          <label style="font-weight: 300; font-size: smaller;" for="cbField{{ field }}">
            <input type="checkbox" id="cbField{{ field }}" name="cbField" value="{{ field }}"> {{ field }}&nbsp;&nbsp;
          </label>
        </span>
        {% endfor %}
      </h6>
    
  </div>
</div>-->

<!-- not watched items start -->
<!-- "Software Development,Robotics and Machine Design,Electronics and Sensors,Management" -->

<!-- <div class="row" style="margin-top: 80px;">
  <div class="twelve columns" style="text-align: center;">
    <h1>Projects</h1>
  </div>
</div> -->

<div class="row" style="margin-top: 80px;">
  <div class="twelve columns items">

    <!-- item start -->
    <a href="/bookmovie">
    <div class="item" id="" dId="" dFields="Software Development" style="text-align: center;" onclick="showDetails(this)">
      <div class="row item-title">
        <h5>Bookmovie</h5>
      </div><br>
      <div class="row item-poster">
        <img src='../static/images/bookmovie/icon.jpg' style="height: 220px; width: auto;">
      </div><br>
      <div class="row item-description">
        <em><h6>Python/Flask webapp for movie watchlist</h6></em>
      </div>
    </div></a>
    <!-- item end -->

    <!-- item start -->
    <a href="/cnc">
    <div class="item" id="" dId="" dFields="Robotics and Machine Design,Product and Project Management" style="text-align: center;" onclick="showDetails(this)">
      <div class="row item-title">
        <h5>CNC Machines</h5>
      </div><br>
      <div class="row item-poster">
        <img src='../static/images/cnc/icon.jpg' style="height: 220px; width: auto;">
      </div><br>
      <div class="row item-description">
        <em><h6>Several CNC Machines built over time</h6></em>
      </div>
    </div></a>
    <!-- item end -->

    <!-- item start -->
    <a href="/tupia">
    <div class="item" id="" dId="" dFields="Product and Project Management" style="text-align: center;" onclick="showDetails(this)">
      <div class="row item-title">
        <h5>Tupia</h5>
      </div><br>
      <div class="row item-poster">
        <img src='../static/images/tupia/icon.jpg' style="height: 220px; width: auto;">
      </div><br>
      <div class="row item-description">
        <em><h6>Products for better working in home office</h6></em>
      </div>
    </div></a>
    <!-- item end -->

    <!-- item start -->
    <a href="/jangada">
    <div class="item" id="" dId="" dFields="Robotics and Machine Design,Product and Project Management" style="text-align: center;" onclick="showDetails(this)">
      <div class="row item-title">
        <h5>Jangada</h5>
      </div><br>
      <div class="row item-poster">
        <img src='../static/images/fabrica-jangada/icon.jpg' style="height: 220px; width: auto;">
      </div><br>
      <div class="row item-description">
        <em><h6>Precision Manufacturing business</h6></em>
      </div>
    </div></a>
    <!-- item end -->

    <!-- item start -->
    <a href="/robot">
    <div class="item" id="" dId="" dFields="Software Development,Robotics and Machine Design,Electronics and Sensors" style="text-align: center;" onclick="showDetails(this)">
      <div class="row item-title">
        <h5>Mobile Robot</h5>
      </div><br>
      <div class="row item-poster">
        <img src='../static/images/robo-labor/icon.jpg' style="height: 220px; width: auto;">
      </div><br>
      <div class="row item-description">
        <em><h6>Mobile robot with wheels for surveillance</h6></em>
      </div>
    </div></a>
    <!-- item end -->

    <!-- item start -->
    <a href="/temp">
    <div class="item" id="" dId="" dFields="Software Development,Robotics and Machine Design" style="text-align: center;" onclick="showDetails(this)">
      <div class="row item-title">
        <h5>GERA</h5>
      </div><br>
      <div class="row item-poster">
        <img src='../static/images/gera/icon.png' style="height: 220px; width: auto;">
      </div><br>
      <div class="row item-description">
      <em><h6>Educational robot control software</h6></em>
      </div>
    </div></a>
    <!-- item end -->

  </div>
</div>
<!-- not watched items end -->

<br>
<br>

  <div class="row" style="margin-top: 10px;">
    <div class="twelve columns" id="divStats" onclick="expandOtherDiv(this)" style="text-align: center;">
      <span style="color:darkgray"><h6><strong>...</strong></h6></span>
    </div>
    <div class="twelve columns">
      <div id="divStatsTarget" class="expandOtherDivOff" style="text-align: center;">
        <form action="/stats" method="post">
          <input type="password" name="password">
          <button action="submit">go</button>
        </form>
      </div>
    </div>
</div>

</form>

{% endblock %}