{% extends "layout.html" %}

{% block title %}
    Mobile Robot
{% endblock %}

{% block main %}
<br>
<h5><a href="/">&lt;&lt; back</a></h5>
<div class="row">
    <div class="twelve columns">
        <span style="text-align: center;"><h3>Mobile Robot</h3></span>
    </div>

    <br>
</div>


<!-- video -->

<div class="row">
    <div class="twelve columns" style="text-align: center;">
        <video style="text-align: center; max-width:300px;" autoplay="" playsinline="" muted="" loop=""  src="../static/images/robo-labor/robo.mp4" poster="../static/images/robo-labor/icon.jpg"></video>
</div></div><br>



<!-- CNC AF -->
<div class="row">
    <div class="twelve columns">
        <h5>Description</h5>
        <h6>Autonomous mobile robot with wheels for surveillance of environments and research activities, capable of sending images in real time and being controlled via the internet.<br>
            <strong>Period: </strong> 2008 to 2011<br>
            <strong>Team: </strong>Dr. José Tarcísio Costa, Dr. Marcus Vinícius Veloso and Rafael Cordeiro.<br>
            <strong>Robot System: </strong>Dr. Marcus Vinícius Veloso developed <a href="https://www.readcube.com/articles/10.1007%2Fs10846-017-0504-y?author_access_token=EUTryloVMRCH2nySl5HKuPe4RwlQNchNByi7wbcMAY6dHnmIOmtMdgqUaTk7aiPpF4ykq6ZdUZA-l2in_5ZyvDw-fHTrkBYtK9TgFUITY_ruzvrets4lt75Gc6B-CwucmrT_vfVvbE-cg_i1Ci2RFA" target="_blank">SOM4R</a>, a Middleware for Robotic Applications Based on the Resource-Oriented Architecture.<br>
            <strong>My role: </strong>I was responsible for mechanical parts design, electronic circuits and PCB design, sensors and manufacturing of the robot.<br>
            <strong>Key Achievements: </strong><br>
            • Designed a reliable and low cost USB Data Acquisition System (DAS), using native USB protocol with PIC18F4550 microcontroller, 
            reducing costs by 90%<br>
            • Patent deposit request at INPI (<a href="http://revistas.inpi.gov.br/pdf/PATENTES2224.pdf" target="_blank"> PI 1106417-0 A2</a>)
        </h6>
    </div>










<div class="twelve columns">
  <!-- Images used to open the lightbox -->
  <div class="row">
      <div class="columna"><img style="border-radius: 3px;" src="../static/images/robo-labor/rb01.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow"></div>
      <div class="columna"><img style="border-radius: 3px;" src="../static/images/robo-labor/rb02.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow"></div>
      <div class="columna"><img style="border-radius: 3px;" src="../static/images/robo-labor/rb03.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow"></div>
      <div class="columna"><img style="border-radius: 3px;" src="../static/images/robo-labor/rb04.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow"></div>
      <div class="columna"><img style="border-radius: 3px;" src="../static/images/robo-labor/rb05.jpg" onclick="openModal();currentSlide(5)" class="hover-shadow"></div>
      <div class="columna"><img style="border-radius: 3px;" src="../static/images/robo-labor/rb06.jpg" onclick="openModal();currentSlide(6)" class="hover-shadow"></div>
      <div class="columna"><img style="border-radius: 3px;" src="../static/images/robo-labor/rb07.jpg" onclick="openModal();currentSlide(7)" class="hover-shadow"></div>
      <div class="columna"><img style="border-radius: 3px;" src="../static/images/robo-labor/rb08.jpg" onclick="openModal();currentSlide(8)" class="hover-shadow"></div>
  </div>
    
    <!-- The Modal/Lightbox -->
  <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">
          <div class="mySlides"><div class="numbertext">1 / 8</div><img style="border-radius: 3px;" src="../static/images/robo-labor/rb01.jpg" style="width:100%"></div>
          <div class="mySlides"><div class="numbertext">2 / 8</div><img style="border-radius: 3px;" src="../static/images/robo-labor/rb02.jpg" style="width:100%"></div>
          <div class="mySlides"><div class="numbertext">3 / 8</div><img style="border-radius: 3px;" src="../static/images/robo-labor/rb03.jpg" style="width:100%"></div>  
          <div class="mySlides"><div class="numbertext">4 / 8</div><img style="border-radius: 3px;" src="../static/images/robo-labor/rb04.jpg" style="width:100%"></div>
          <div class="mySlides"><div class="numbertext">5 / 8</div><img style="border-radius: 3px;" src="../static/images/robo-labor/rb05.jpg" style="width:100%"></div>
          <div class="mySlides"><div class="numbertext">6 / 8</div><img style="border-radius: 3px;" src="../static/images/robo-labor/rb06.jpg" style="width:100%"></div>
          <div class="mySlides"><div class="numbertext">7 / 8</div><img style="border-radius: 3px;" src="../static/images/robo-labor/rb07.jpg" style="width:100%"></div>
          <div class="mySlides"><div class="numbertext">8 / 8</div><img style="border-radius: 3px;" src="../static/images/robo-labor/rb08.jpg" style="width:100%"></div>
          
        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
        <!-- Caption text -->
        <div class="caption-container">
          <p id="caption"></p>
        </div>
    
        <!-- Thumbnail image controls -->
        <div class="columna"><img class="demo" src="../static/images/robo-labor/rb01.jpg" onclick="currentSlide(1)" alt="Front view of the robot at a fair"></div>
        <div class="columna"><img class="demo" src="../static/images/robo-labor/rb02.jpg" onclick="currentSlide(2)" alt="Side by side comparisson of 3d project and the built robot"></div>
        <div class="columna"><img class="demo" src="../static/images/robo-labor/rb03.jpg" onclick="currentSlide(3)" alt="Rear view of the robot"></div>
        <div class="columna"><img class="demo" src="../static/images/robo-labor/rb04.jpg" onclick="currentSlide(4)" alt="3D render of the drive system and wheels"></div>
        <div class="columna"><img class="demo" src="../static/images/robo-labor/rb05.jpg" onclick="currentSlide(5)" alt="3D render of the details of the drive system"></div>
        <div class="columna"><img class="demo" src="../static/images/robo-labor/rb06.jpg" onclick="currentSlide(6)" alt="3d render of the wheel and components"></div>
        <div class="columna"><img class="demo" src="../static/images/robo-labor/rb07.jpg" onclick="currentSlide(7)" alt="Motor drive pcb layout and circuit"></div>
        <div class="columna"><img class="demo" src="../static/images/robo-labor/rb08.jpg" onclick="currentSlide(8)" alt="Data Acquisition System circuit and pcb"></div>
      </div>
  </div>

</div>












</div>
<br>

{% endblock %}