{% extends "layout.html" %}

{% block title %}
    Bookmovie
{% endblock %}

{% block main %}
<!-- Project of reference -->
<!-- https://python.plainenglish.io/track-website-usage-with-postgresql-and-flask-53f583249911 -->

<br>
<h5><a href="/">&lt;&lt; back</a></h5>
<div class="row">
    <div class="twelve columns">
        <span style="text-align: center;"><h3>Statistics</h3></span>
    </div>

    <br>
</div>

<!-- CNC AF -->
<div class="row">
    <div class="twelve columns">
        <h5>Visitors</h5>
        <h6>
            {% for visitor in visitors %}
            {% if "192.168.0" not in visitor["ip"] %}
            {{ visitor }}<br>
            {% endif%}
            {% endfor %}
        </h6>
    </div>
</div>
<br>

{% endblock %}