{% extends "layout.html" %}

{% block title %}
    Tupia
{% endblock %}

{% block main %}
<br>
<h5><a href="/">&lt;&lt; back</a></h5>
<div class="row">
    <div class="twelve columns">
        <span style="text-align: center;"><h3>Tupia</h3></span>
    </div>

    <br>
</div>


<!-- video -->

<div class="row">
    <div class="twelve columns" style="text-align: center;">
        <video style="text-align: center; max-width:300px;" autoplay="" playsinline="" muted="" loop=""  src="../static/images/tupia/tupia.mp4" poster="../static/images/tupia/tup (4).jpg"></video>
</div></div><br>



<!-- CNC AF -->
<div class="row">
    <div class="six columns">
        <h5>Description</h5>
        <h6>We created simple and effective products focused on confort and wellbeing during pandemics to aid better working from home.<br>
            All products were carefully made in my factory Fábrica Jangada, a respectful manufacturing business, using only sustainable sourced plywood.<br>
            <strong>Website: </strong><a href="https://tupia-static.netlify.app/" target="_blank">Tupia's</a> website.<br>
            <strong>Year: </strong>2020<br>
            <strong>Team: </strong>Gabriel Jota, Lucas Durães e Rafael Cordeiro.<br>
            <strong>My role: </strong>was responsible for products design and testing, manufacturing production line optimization and product cost optimization<br>
            <strong>Manufacturer: </strong><a href="https://www.instagram.com/p/CMcThryFVj7/" target="_blank">Fábrica Jangada</a>
            
        </h6>
    </div>

    <div class=" six columns">
        <section id="main-slider1" class="splide" aria-label="Gallery2">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide"> <img src="../static/images/tupia/tup (0).jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/tupia/tup (1).jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/tupia/tup (2).jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/tupia/tup (3).jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/tupia/tup (4).jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/tupia/tup (5).jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/tupia/tup (6).jpg" alt=""/> </li>
                <li class="splide__slide"> <img src="../static/images/tupia/tup (7).jpg" alt=""/> </li>
                </ul>
            </div>
          </section>

    </div>
</div>
<br>

{% endblock %}