{% extends "layout.html" %}

{% block title %}
    Tupia
{% endblock %}

{% block main %}
<br>
<h5><a href="/">&lt;&lt; back</a></h5>
<div class="row">
    <div class="twelve columns">
        <span style="text-align: center;"><h3>Tupia</h3></span>
    </div>

    <br>
</div>


<!-- video -->

<div class="row">
    <div class="twelve columns" style="text-align: center;">
        <video style="text-align: center; max-width:300px;" autoplay="" playsinline="" muted="" loop=""  src="../static/images/tupia/tupia.mp4" poster="../static/images/tupia/tup (4).jpg"></video>
</div></div><br>



<!-- CNC AF -->
<div class="row">
    <div class="twelve columns">
        <h5>Description</h5>
        <h6>We created simple and effective products focused on confort and wellbeing during pandemics to aid better working from home.<br>
            All products were carefully made in my factory <a href="/jangada" target="_blank">Jangada</a>, a respectful manufacturing business, using only sustainable sourced plywood.<br>
            <strong>Website: </strong><a href="https://tupia-static.netlify.app/" target="_blank">Tupia's</a> website.<br>
            <strong>Year: </strong>2020<br>
            <strong>Team: </strong>Gabriel Jota, Lucas Durães e Rafael Cordeiro.<br>
            <strong>My role: </strong>was responsible for products design and testing, manufacturing production line optimization and product cost optimization<br>
            <strong>Key Achievements: </strong>we managed to build products that are long lasting, sustainable, cost-effective and with beautiful design.<br>
            <strong>Manufacturer: </strong><a href="https://www.instagram.com/p/CMcThryFVj7/" target="_blank">Fábrica Jangada</a>
            
        </h6>
    </div>



    <div class="twelve columns">
        <!-- Images used to open the lightbox -->
        <div class="row">
            <div class="columna"><img style="border-radius: 3px;" src="../static/images/tupia/tup (0).jpg" onclick="openModal();currentSlide(1)" class="hover-shadow"></div>
            <div class="columna"><img style="border-radius: 3px;" src="../static/images/tupia/tup (1).jpg" onclick="openModal();currentSlide(2)" class="hover-shadow"></div>
            <div class="columna"><img style="border-radius: 3px;" src="../static/images/tupia/tup (2).jpg" onclick="openModal();currentSlide(3)" class="hover-shadow"></div>
            <div class="columna"><img style="border-radius: 3px;" src="../static/images/tupia/tup (3).jpg" onclick="openModal();currentSlide(4)" class="hover-shadow"></div>
            <div class="columna"><img style="border-radius: 3px;" src="../static/images/tupia/tup (4).jpg" onclick="openModal();currentSlide(5)" class="hover-shadow"></div>
            <div class="columna"><img style="border-radius: 3px;" src="../static/images/tupia/tup (5).jpg" onclick="openModal();currentSlide(6)" class="hover-shadow"></div>
            <div class="columna"><img style="border-radius: 3px;" src="../static/images/tupia/tup (6).jpg" onclick="openModal();currentSlide(7)" class="hover-shadow"></div>
            <div class="columna"><img style="border-radius: 3px;" src="../static/images/tupia/tup (7).jpg" onclick="openModal();currentSlide(8)" class="hover-shadow"></div>
        </div>
          
        <!-- The Modal/Lightbox -->
        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
                <div class="mySlides"><div class="numbertext">1 / 8</div><img style="border-radius: 3px;" src="../static/images/tupia/tup (0).jpg" style="width:100%"></div>
                <div class="mySlides"><div class="numbertext">2 / 8</div><img style="border-radius: 3px;" src="../static/images/tupia/tup (1).jpg" style="width:100%"></div>
                <div class="mySlides"><div class="numbertext">3 / 8</div><img style="border-radius: 3px;" src="../static/images/tupia/tup (2).jpg" style="width:100%"></div>  
                <div class="mySlides"><div class="numbertext">4 / 8</div><img style="border-radius: 3px;" src="../static/images/tupia/tup (3).jpg" style="width:100%"></div>
                <div class="mySlides"><div class="numbertext">5 / 8</div><img style="border-radius: 3px;" src="../static/images/tupia/tup (4).jpg" style="width:100%"></div>
                <div class="mySlides"><div class="numbertext">6 / 8</div><img style="border-radius: 3px;" src="../static/images/tupia/tup (5).jpg" style="width:100%"></div>
                <div class="mySlides"><div class="numbertext">7 / 8</div><img style="border-radius: 3px;" src="../static/images/tupia/tup (6).jpg" style="width:100%"></div>
                <div class="mySlides"><div class="numbertext">8 / 8</div><img style="border-radius: 3px;" src="../static/images/tupia/tup (7).jpg" style="width:100%"></div>
                 
              <!-- Next/previous controls -->
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
          
              <!-- Caption text -->
              <div class="caption-container">
                <p id="caption"></p>
              </div>
          
              <!-- Thumbnail image controls -->
              <div class="columna"><img class="demo" src="../static/images/tupia/tup (0).jpg" onclick="currentSlide(1)" alt="Monitor stand"></div>
              <div class="columna"><img class="demo" src="../static/images/tupia/tup (1).jpg" onclick="currentSlide(2)" alt="Notebook stand and mobile"></div>
              <div class="columna"><img class="demo" src="../static/images/tupia/tup (2).jpg" onclick="currentSlide(3)" alt="Mini portable table"></div>
              <div class="columna"><img class="demo" src="../static/images/tupia/tup (3).jpg" onclick="currentSlide(4)" alt="mobile stand details, showing magnets"></div>
              <div class="columna"><img class="demo" src="../static/images/tupia/tup (4).jpg" onclick="currentSlide(5)" alt="Mobile stand being used"></div>
              <div class="columna"><img class="demo" src="../static/images/tupia/tup (5).jpg" onclick="currentSlide(6)" alt="Notebook stand being assembled"></div>
              <div class="columna"><img class="demo" src="../static/images/tupia/tup (6).jpg" onclick="currentSlide(7)" alt="Notebook stand"></div>
              <div class="columna"><img class="demo" src="../static/images/tupia/tup (7).jpg" onclick="currentSlide(8)" alt="Notebook stand being used"></div>
            </div>
        </div>
    </div>









</div>
<br>

{% endblock %}